.overlay {
  align-items: center;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 1200;
}

.modal {
  padding: 20px;
  border-radius: 20px;
  width: 540px;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  background-color: #fff;
}
