.actionButton {
  background-color: #a4ea34;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 9px 20px;
  color: #024153;
  transition: background-color 250ms linear, box-shadow 250ms linear,
  color 250ms linear;
  border-radius: 20px;
  font-size: 16px;
}

.actionButton:focus, .actionButton:hover {
  color: #fff;
  background-color: #76a8bd;
}

.editButton {
  composes: actionButton;
}